<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <title>Main page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <main>
        <p>
            This is a test web application with basic express setup for
            routing and rendering hbs templates.<br>Use this website to
            get weather by your location
        </p>
        <form id="address-form">
            <label for="address">Input your address:</label>
            <input name="address" id="address" type="text" required>
            <input type="submit">
        </form>
        <section class="weather-forecast">
        </section>
    </main>
    {{>footer}}
    <script type="module" src="/js/app.js"></script> 
</body>
</html>